[MASTER]
init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc()))"
disable =
    missing-module-docstring,
    too-few-public-methods,
    empty-docstring,
    missing-function-docstring,
    import-outside-toplevel,

[FORMAT]
max-line-length = 128
